nav{
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  padding: 10px;
}
.nav_left{
  display: flex;
  align-items: center;
}
.nav_center_box{
  display: flex;
  align-items: center;
}
.nav_right{
  display: flex;
  align-items: center;
}
.person{
  display: flex;
  align-items: center;
}
.searchContainer{
  display: flex;
}
.logo{
  height: 40px;
  padding: 5px;
}
.icon{
  height: 25px;
  padding: 10px;
}